<div class="flex items-start justify-end">
  <div class="mr-3 bg-indigo-100 p-3 rounded-lg">
    <p class="text-sm text-gray-800"><%= message %></p>
  </div>
  <div class="flex-shrink-0">
    <div class="h-10 w-10 rounded-full bg-gray-500 flex items-center justify-center text-white">
      You
    </div>
  </div>
</div> 